.main-content { height: 8000px; }

.main-content .mainT { height: 550px; margin-bottom: 30px; }

.main-content h3 { height: 36px; line-height: 36px; }

.main-content .main-dataL .main-dataF { height: 60px; overflow-y: hidden; text-align: center; margin-top: 10px; }

.main-content .main-dataL .main-dataF li { height: 60px; width: 60px; margin-right: 10px; border: 2px solid #ed4242; float: left; }

.main-content .main-dataL .main-dataF li img { height: 56px; width: 56px; }

.main-content .main-data { width: 458px; height: 458px; border: 1px solid #ccc; }

.main-content .main-data #listImg { width: 456px; height: 456px; }

.main-content .main-dataR { width: 660px; height: 379px; }

.main-content .main-dataR #p1 { font-size: 18px; font-weight: bold; height: 30px; line-height: 30px; margin-top: 5px; }

.main-content .main-dataR span { padding: 3px 10px; border-radius: 3px; color: #fff; background: #ed4242; font-size: 12px; }

.main-content .main-dataR p.address { height: 30px; color: #ed4242; font-size: 12px; }

.main-content .main-dataR #goodsId { margin-right: 40px; }

.main-content .main-dataR #goodsId { margin-right: 40px; }

.main-content .main-dataR .priceD { height: 36px; line-height: 36px; margin: 20px 0; }

.main-content .main-dataR .priceD .price { display: inline-block; background: none; font-size: 12px; margin-right: 20px; color: black; }

.main-content .main-dataR .priceD #price { background: none; font-size: 24px; color: #ed4242; }

.main-content .main-dataR .priceD .qty { color: #666; font-size: 12px; padding: 3px 2px 0 10px; height: 26px; border: 1px solid #a7a6ac; width: 50px; line-height: 26px; }

.main-content .main-dataR .priceD .cqty { margin-left: 30px; }

.main-content .main-dataR .dBuy { width: 660px; height: 46px; margin-top: 20px; }

.main-content .main-dataR .dBuy button { display: inline-block; width: 178px; height: 44px; line-height: 44px; font-size: 16px; margin-right: 20px; background: #ffebeb; border: 1px solid #ed4242; color: #ff6600; text-align: center; }

.main-content .main-dataR .dBuy .dbuycar { background: #ed4242; color: #fff; }

.main-content .mainF { text-align: center; }

.main-content .mainF h2 { width: 250px; height: 50px; text-align: right; font-size: 18px; }

.main-content .mainF .h50 { height: 50px; }

.main-content .mainF .introduce { width: 500px; color: #ed4242; }

.main-content .mainF .introduceA { height: 7000px; border-top: 2px solid #ed4242; }

.main-content .mainF .introduceA .introduceAl { width: 170px; height: 7000px; }

.main-content .mainF .introduceA .introduceAl h3, .main-content .mainF .introduceA .introduceAl h3 { color: #333; background: #fff; margin: 0 10px 2px; font-size: 14px; font-weight: bold; line-height: 3; border-bottom: 1px solid #ddd; }

.main-content .mainF .introduceA .introduceAl ul li { margin: 0 10px; border-bottom: 1px solid #ccc; }

.main-content .mainF .introduceA .introduceAl ul li a { display: block; width: 150px; height: 28px; line-height: 28px; font-size: 12px; text-align: center; }

.main-content .mainF .introduceA .introduceAl ul li a:nth-child(1) { height: 33px; line-height: 33px; font-size: 14px; font-weight: bold; color: #333; }

.main-content .mainF .introduceA .introduceAc { width: 800px; height: 7000px; }

.main-content .mainF .introduceA .introduceAr { width: 190px; height: 7000px; }

.main-content .mainF .introduceA .introduceAr .hotGoods ul li { width: 190px; height: 234px; border: 1px solid #ccc; position: relative; background: #fff; border: solid 1px #eee; margin: 0 4px 4px 0; text-align: center; padding: 0 10px; }

.main-content .mainF .introduceA .introduceAr .hotGoods ul li img { width: 190px; }

.main-content .mainF .introduceA .introduceAr .hotGoods ul li .decorationsAll { height: 20px; }

.main-content .mainF .introduceA .introduceAr .hotGoods ul li .decorations { font-size: 12px; height: 14px; width: 153px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

.main-content .mainF .introduceA .introduceAr .hotGoods ul li .price { font-size: 12px; color: #ee4242; }

.main-content .mainF .introduceA .introduceAr .hotGoods ul li .map { display: block; height: 11px; width: 16px; border: 1px solid #ddd; }

.main-content .mainF .introduceA .introduceAr .hotGoods ul li .made { font-size: 12px; }
